
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #432000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rubik", sans-serif;
    background-color: #EEF0F4;
    user-select: none;
}

#container{
    padding: 1rem 1.8rem;
    display: flex;
    max-width: 320px;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border: 4px solid black;
    gap: 10px;
}

#zone_input{
    width: 100%;
    color: #4f4f4f;
    background-color: #DCE1EB;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    outline: none;
}

#add_item{
    width: 100%;
    color: #FDFDFD;
    background-color: #4f4f4f;
    padding: 10px;
    border: none;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}

#add_item:hover{
    background-color: #c5b13f;
    cursor: pointer;
}

#zone_img{
    width: 300px; 
    margin: auto;
}

#zone_items{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.task{
    flex-grow: 1;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #FFFDF8;
    border: 2px solid transparent;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    transition: 0.1s ease-in-out
}

.task:hover{
    color: #4f4f4f;
    text-decoration: line-through;
    border-color: #4f4f4f;
    background-color: #c5b13f;
    cursor: pointer;
}