
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4285F4;
}

#container{
  width: 450px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

#container h1{
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem 1.2rem;
  border-bottom: 1px solid #d4dbe5;
}

#wrapper{
  margin: 1.25rem 1.75rem;
}

#wrapper #input_box{
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#wrapper #input_box input{
  color: black;
  width: 100%;
  height: 50px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 0 2rem 0 1rem;
  background: none;
}

#wrapper #input_box span{
  padding-right: 0.5rem;
  color: #707070;
}

#wrapper #input_box span:active{
  color: #4285F4;
}

#wrapper #pass_indicator{
  width: 100%;
  height: 4px;
  background-color: #dfdfdf;
  margin-top: 0.75rem;
  border-radius: 25px;
  
}

#wrapper #pass_indicator .line{
  height: 100%;
  width: 50%;
  border-radius: inherit;
  background-color: #f1c80b;
  transition: 1s ease-in-out;
}

#wrapper #details_password{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 1rem;
}

#wrapper #range{
  width: 100%;
  height: 5px;
  margin-bottom: 1rem;
}


#wrapper #title_config{
  font-size: 18px;
}

#wrapper #config_box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 1rem;
  margin-top: 0.3rem;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

#wrapper #config_box > div{
  flex: 1;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#wrapper #btn_generator{
  width: 100%;
  padding: 0.8rem 0;
  margin-top: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
  background-color: #4285F4;
}
